@font-face {
  font-family: Montserrat;
  src: url(../c-f/font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(../c-f/font/Poppins-Regular.ttf);
}

html,
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-image: linear-gradient(#2114d6, #ff15c4);
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
}

.title {
  font-weight: 400;
  color: #fff;
  font-family: Poppins;
  margin: 10px 0px;
}

.second-title {
  margin: 40px 0px 10px 0px;
}

.elems {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.input {
  width: 100%;
}

@keyframes btn-anim {
  0% {
    width: 150px;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 150px;
  }
}

@keyframes btn-anim-c {
  0% {
    width: 100%;
  }

  50% {
    width: 150px;
  }

  100% {
    width: 100%;
  }
}

.show-result {
  font-weight: 400;
  font-family: Poppins;
  margin: 10px 0px 0px 0px;
  width: 150px;
}

.show-result.show-result-f {
  animation: btn-anim 2s infinite;
}

.show-result.show-result-c {
  animation: btn-anim-c 2s infinite;
}

.result {
  color: #fff;
  font-size: 20px;
  font-family: Poppins;
  margin: 0px 0px 0px 0px;
}

sup {
  font-size: 12px;
}